.sale-col-1 {
  border-right: 2px dotted gray;
  max-height: 250px;
}
.sale-price {
  font-size: 2rem;
  font-weight: bold;
}
.pill-button {
  font-size: 1rem !important;
  padding: 10px 2rem !important;
  font-weight: bold !important;
}
body {
  font-family: 'Courier New', Courier, monospace;
}
.sale-div {
  background-color: rgba(225, 217, 207, 0.178);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(212, 212, 212, 0.7);
  padding: 10px;
}
.trans .nav-link.active {
  font-weight: 600;
}
.trans .nav-link {
  font-size: 20px !important;
  color: rgb(0, 0, 0);
  
}
.trans-item {
  width: 80% !important;
}
.trans-item .trans-row {
  height: 100%;
  margin-bottom: -10px;
  width: 100%;
  font-size: 1.2rem;
}
.purchase-price {
  font-size: 1.6rem;
  font-weight: bold;
}
.purchase-div {
  background-color: rgba(224, 224, 238, 0.266);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(212, 212, 212, 0.7);
  padding: 10px;
}